*.css text encoding=utf-8 eol=lf
*.html text encoding=utf-8 eol=lf
*.ignore text encoding=utf-8 eol=lf
*.java text encoding=utf-8 eol=lf
*.js text encoding=utf-8 eol=lf
*.md text encoding=utf-8 eol=lf
*.properties text encoding=utf-8 eol=lf
*.sh text encoding=utf-8 eol=lf
*.xml text encoding=utf-8 eol=lf
*.yaml text encoding=utf-8 eol=lf
*.yml text encoding=utf-8 eol=lf
