<?xml version="1.0" encoding="UTF-8"?>
<configuration debugging="false">

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<!-- General logging strategy: Log everything (ReTest, EvoSuite, SUT) to
		one central logging file with TRACE. Log only WARN and above to console (might
		induce changes to source code!). Have the central logging file rolling (i.e.
		no need to manually delete it) and keep last 10 executions. -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level [%thread] [%8logger] - %msg%n %xEx{full}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${de.retest.workDirectory:-../retest-workspace}/logs/retest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${de.retest.workDirectory:-../retest-workspace}/logs/retest.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="de.retest.logging.StartupSizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} %level [%thread] %8logger - %msg%n %xEx{full}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
